	body {
	background: #000000;
	color: #ffffff;
	}
	div.wrapper {
		width: 960px;
	}
	div.body {
	float: right;
	width: 700px;
}
	div.sidebar {
	float: left;
	margin-top: 160px;
	width: 200px;
	padding-left: 50px;
}